[submodule "vendor/auto-compile"]
	path = vendor/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "vendor/packed"]
	path = vendor/packed
	url = git@github.com:emacscollective/packed.git
[submodule "vendor/pulsar"]
	path = vendor/pulsar
	url = https://gitlab.com/protesilaos/pulsar.git
[submodule "vendor/fzf-native"]
	path = vendor/fzf-native
	url = https://github.com/dangduc/fzf-native.git
[submodule "vendor/fzfa"]
	path = vendor/fzfa
	url = https://github.com/jojojames/fzfa

[submodule "vendor/vegeta"]
	path = vendor/vegeta
	url = https://github.com/dangduc/vegeta.git
	branch = main
[submodule "fruity-theme"]
	path = fruity-theme
	url = https://github.com/jojojames/fruity-theme.git
[submodule "melpa"]
	path = melpa
	url = https://github.com/dangduc/melpa
[submodule "agent/vegeta-gap-2026-09-08/vegeta"]
	path = agent/vegeta-gap-2026-09-08/vegeta
	url = https://github.com/dangduc/vegeta.git
