[submodule "vendor/auto-compile"]
	path = vendor/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "vendor/packed"]
	path = vendor/packed
	url = git@github.com:emacscollective/packed.git
